<div class="mastfoot" style="position: relative;

    width: 100%;">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</div>