<div class="collapse" id="press">
  <div class="card card-block">
    <div class="row" style="text-align: center">
      <div style="color: #8B0000" class="col-md-3">
        Netacad
      </div>
      <div class="col-md-9">
        NGD LINUX ESSENTIALS
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row" style="text-align: center">
      <div style="color: #8B0000" class="col-md-3">
        Netacad
      </div>
      <div class="col-md-9">
        INTRODUCTION TO CYBERSECURITY
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row" style="text-align: center">
      <div style="color: #8B0000" class="col-md-3">
        Udemy
      </div>
      <div class="col-md-9">
        Professional rails 5 development course
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row" style="text-align: center">
      <div style="color: #8B0000" class="col-md-3">
        Udemy
      </div>
      <div class="col-md-9">
        Curso de angular 4 desde cero hasta profesional
      </div>
    </div>
  </div>
</div>