<button
  class="btn btn-sm btn-primary"
  style="margin-bottom: 5px"
  type="button"
  data-toggle="collapse"
  data-target="#jobHistory"
  aria-expanded="false"
  aria-controler="jobHistory"
>
  Job History
</button>

<button
  class="btn btn-sm btn-primary"
  style="margin-bottom: 5px"
  type="button"
  data-toggle="collapse"
  data-target="#education"
  aria-expanded="false"
  aria-controler="education"
>
  Education
</button>


<button
  class="btn btn-sm btn-primary"
  style="margin-bottom: 5px"
  type="button"
  data-toggle="collapse"
  data-target="#press"
  aria-expanded="false"
  aria-controler="press"
>
  Certifications
</button>