<div class="collapse" id="jobHistory">
  <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #F2F2F2">
          <li class="breadcrumb-item active" style="margin: auto; color: black" aria-current="page">Seiconsultores: PHP - ZF2 </li>
        </ol>
      </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #F2F2F2">
        <li class="breadcrumb-item active" style="margin: auto; color: black" aria-current="page">Haulmer: DevOP - Python</li>
      </ol>
    </nav>
    </div>
</div>