<h4>Contact</h4>

<hr>
<div class="col-md-12" style="background-color: white; padding-top: 15px; border-radius: 10px">
  <div class="row">
  <div class="col-md-6" style="color: black">
    <h3>Office Address</h3>
    <p>Curico City, Chile</p>
    <hr>
    <h3>Phone</h3>
    <p><%= number_to_phone "9999999999" %></p>
    <hr>
    <h3>Email Address</h3>
    <p><a style="color: black" href="mailto:jaimecanalesmarin@gmail.com?subject=Contact">Email Me</a></p>
  </div>

  <div class="col-md-6" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52304.46127028568!2d-71.26280811537555!3d-34.98094259682394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966519c706a5d7d3%3A0xd0866d47d2259f4!2zQ3VyaWPDsywgUmVnacOzbiBkZWwgTWF1bGU!5e0!3m2!1ses!2scl!4v1526959539898" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
</div>
